---
layout: default
---
<section class="intro">
  <div class="container">
    {{ content }}
  </div>
</section>


<section class="post-list">
  <div class="container">
    {% for post in site.posts %}
    {% for cat in post.categories %}
    {% if cat == page.category %}
      <article class="post-item">
        <span class="post-meta date-label">{{ post.date | date: "%d %b %y" }}</span>
        <div class="article-title"><a class="post-link" href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">{{ post.title }}</a></div>
      </article>
    {% endif %}
    {% endfor %}
    {% endfor %}
  </div>

</section>
