---
layout: default
title: Random Topics
permalink: /random/
---


<section class="randoms-list">
  <div class="container">
    {% for randoms in site.randomss %}
      <article class="randoms-item">
        <span class="randoms-meta date-label">{{ randoms.date | date: "%d %b %Y" }}</span>
        <div class="article-title"><a class="randoms-link" href="{{ randoms.url | prepend: site.baseurl | prepend: site.url }}">{{ randoms.title }}</a></div>
      </article>
    {% endfor %}
  </div>

</section>
